@import "./fonts.css";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10px;
    font-family: "Lato", "Verdana", sans-serif;
    color: #767e9e;
}

body {
    font-size: 1.8rem;
    width: 100%;
    max-width: 1020px;
    margin: auto;
}

h1,
h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #666d89;
}

h2 {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

.header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 25;
    max-width: 1020px;
    font-weight: 700;
    background-color: #2d303a;
    color: #ffffff;
    padding: 18px 30px 10px 30px;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    
}

.header-logo {
    display: block;
    width: 100%;
    align-items: flex-end;
    font-size: 2.5rem;
    line-height: 0.6rem;
    letter-spacing: -0.06rem;
    margin: 23px 0 32.68px 0;
}

.link-logo,
.navigation a {
    text-decoration: none;
    color: #ffffff;
}

.header-logo-color {
    color: #f06c64;
}

.header-navigation {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    line-height: 0.6rem;
    letter-spacing: -0.002rem;
    margin: 4px 0 0 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10;
    list-style-type: none;
}

.navigation li a:hover {
    color: #f06c64;
}

a.active {
    color: #f06c64;
}

.navigation li:nth-child(n + 2)::before  {
    color: #767e9e;
    content: "·";
    padding-left: 12.7px;
    padding-right: 12.6px;
}

.header-bottom {
    height: 6px;
    background-color: #323746;
}

/* Image iphones */

.carousel {
    position: relative;
    max-width: 1020px;
    width: 100%;
    font-size: 0;
    background: #f06c64;
}

.images-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    flex-shrink: 0;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
    width: 100%;
}

.slide-slide2 {
    border-bottom: 6px solid rgb(113, 151, 247);
}

.current,
.next {
    display: block;
}

.next {
    width: 100%;
}

.images-two-iphones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px, 20%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.iphone-vertical {
    display: block;
    margin: 52px 0 -317px 112px;
}

.non-screen {
    display: block;
    position: relative;
    width: 189px;
    height: 334px;
    background: #323746;
    z-index: 3;
}

.home1,
.home2 {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    opacity: 0;
}

.home1{
    top: -409px;
    left: 86px;
}

.home2{
    top: -155px;
    left: 8px;
}

.opacity {
    opacity: 0;
}

.vertical {
    top: -418px;
    left: 13px;
}

.horizontal {
    transform: rotate(90deg);
    top: -299px;
    left: 132px;
    margin-bottom: -334px;
}

.iphone-horizontal {
    display: block;
    align-self: center;
    margin: 37px 112px 0 0;
}

.arrows {
    display: inline-block;
    position: relative;
    width: 15%;
    background: none;
    z-index: 10;
}

.arrows.left {
    top: 285px;
    left: 4.5%;
    right: auto;
}

.arrows.right {
    top: -318px;
    left: auto;
    right: -88.5%;
}

.arrow-left,
.arrow-right {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    border-top: 6px solid #ca4549;
    border-left: 6px solid #ca4549;
    border-radius: 4px;
    transform: rotate(315deg);
	cursor: pointer;
}

.arrow-left:hover,
.arrow-right:hover {
    border-top: 6px solid #000000;
    border-left: 6px solid #000000;
}

.arrow-right {
    transform: rotate(135deg);
    right: 50%;
}

.to-left {
    animation-name: left;
}
  
.from-right {
    animation-name: right;
}
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
}
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
}

/* services */

#services {
    position: relative;
    top: -15vh;
}

.services {
    background-color: #f2f2f2;
    padding: 68px 30px 30px 30px;
    color: #767e9e;
}

.layout-3-colum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    margin-top: 45px;
    height: 100%;
}

.services-title {
    line-height: 0.595;
}

.layout-3-colum h2 {
    line-height: 0.992;
    margin-bottom: 10px;
}

.our-services {
    padding: 0 10px 0 10px;
}

.our-services p {
    line-height: 3rem;
    font-weight: 300;
    margin-top: 28px;
    letter-spacing: 0.015rem;
}

.layout-3-colum article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.layout-3-colum p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.797;
    font-weight: 400;
    overflow: hidden;
    height: 63px;
    padding-top: 1px;
}

.colum-1,
.colum-2,
.colum-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 33.33%;
}

.layout-top,
.layout-bottom {
    padding-bottom: 33px;
}

.colum_icon,
.colum_text {
    padding: 0 10px 0 10px;
}

.colum_icon {
    padding-top: 2px;
}

.colum_text {
    text-align: justify;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.services-bottom {
    height: 6px;
    background-color: #ffffff;
}

/* Portfolio */

#portfolio{
    position: relative;
    top: -7vh;
}

.portfolio {
    padding: 9px 0 10px 0;
    width: 100%;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    font-weight: 300;
    color: #767e9e;
}

.portfolio h1,
.about h1,
.about h2 {
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}

.about h2 {
    letter-spacing: -0.1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio p {
    line-height: 30px;
    padding: 16px 0 0 0;
}

.portfolio_wrapper {
    margin: 60px 0 48.6px 0;
    padding: 0 40px 0 40px;
    width: 100%;
}

.portfolio-filter-buttons{
    display: flex;
    flex-direction: row;
    margin: 9px 0 9px 1px;
}

.filter-param {
    border-radius: 5px;
    border: 1px solid #666d89;
    background-color: #2d303a;
    font-size: 1.2rem;
    color: #767e9e;
    line-height: 20px;
    font-weight: 400;
    font-family: "Lato", "Verdana", sans-serif;
    cursor: pointer;
    padding: 0 7px 0 7px;
    margin-right: 10px;
    letter-spacing: -0.25px;
}

.filter-param:hover {
    color: #dedede;
    border: 1px solid #c5c5c5;
    transition: 0.5s;
}

.filter-active {
    color: #dedede;
    border: 1px solid #c5c5c5;
    outline: none;
}

.layout-4colum {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 25%;
    height: 621px;
}

.project-item {
    cursor: pointer;
}

.layout-4colum li {
    width: 220px;
    height: 207px;
}

.focus {
    border: 5px solid #F06C64;
}

.layout-4colum li:nth-child(1) {
    background: url("./assets/images/portfolio/layer1.png") center no-repeat;
    order: 1;
}

.layout-4colum li:nth-child(2) {
    background: url("./assets/images/portfolio/layer2.png") center no-repeat;
    order: 2;
}

.layout-4colum li:nth-child(3) {
    background: url("./assets/images/portfolio/layer3.png") center no-repeat;
    order: 3;
}

.layout-4colum li:nth-child(4) {
    background: url("./assets/images/portfolio/layer4.png") center no-repeat;
    order: 4;
}

.layout-4colum li:nth-child(5) {
    background: url("./assets/images/portfolio/layer5.png") center no-repeat;
    order: 5;
}

.layout-4colum li:nth-child(6) {
    background: url("./assets/images/portfolio/layer6.png") center no-repeat;
    order: 6;
}

.layout-4colum li:nth-child(7) {
    background: url("./assets/images/portfolio/layer7.png") center no-repeat;
    order: 7;
}

.layout-4colum li:nth-child(8) {
    background: url("./assets/images/portfolio/layer8.png") center no-repeat;
    order: 8;
}

.layout-4colum li:nth-child(9) {
    background: url("./assets/images/portfolio/layer9.png") center no-repeat;
    order: 9;
}

.layout-4colum li:nth-child(10) {
    background: url("./assets/images/portfolio/layer10.png") center no-repeat;
    order: 10;
}

.layout-4colum li:nth-child(11) {
    background: url("./assets/images/portfolio/layer11.png") center no-repeat;
    order: 11;
}

.layout-4colum li:nth-child(12) {
    background: url("./assets/images/portfolio/layer12.png") center no-repeat;
    order: 12;
}


/* About */

#about{
    position: relative;
    top: -10vh;
}

.about {
    padding-top: 10px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-title {
    margin: 0 10px 0 10px;
}

.about_wrapper {
    margin: 0px;
    padding: 0 30px 0 30px;
}

.about-title p {
    line-height: 30px;
    margin-top: 18px;
    text-align: justify;
    font-weight: 300;
}

.about h1 {
    letter-spacing: -0.1px;
    margin-top: 58px;
}

.layout-3colum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 45px 0 45.5px 0;
}

.person {
    padding: 0 10px 0 10px;
    overflow: hidden;
    width: 33.3%;
}

.person p {
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: justify;
    padding-bottom: 1px;
}

.person img {
    margin-bottom: 12px;
}

.social-media {
    display: flex;
    margin: 22px 0 22px 0;
    list-style-type: none;
}

.social-media a {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #666d89;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.social-media a:hover {
    -webkit-filter: invert(100%);
}

.facebook {
    background: url("./assets/images/about/icons/facebook.png");
}

.google {
    background: url("./assets/images/about/icons/google+.png");
}

.twitter {
    background: url("./assets/images/about/icons/twitter.png");
}

.linkedin {
    background: url("./assets/images/about/icons/linkedin.png");
}


/* Quote */

.top-title,
.info__title {
    line-height: 1.8rem;
    color: #f0d8d9;
}

.info__text {
    margin: 9px 0 21px 0;
    letter-spacing: -0.003rem;
    word-wrap: break-word;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.get-a-quote {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b ;
    padding: 68px 0 29px 0;
    font-weight: 300;
    color: #f0d8d9;
}

.get-a-quote_wrapper {
    padding: 0 30px 0 30px;
}

.get-a-quote__top {
    padding: 0 10px 0 10px;
}

.top-title {
    letter-spacing: -0.02rem;
}

.top-description {
    padding: 27px 0 0 0;
    letter-spacing: 0.015rem;
    line-height: 3.1rem;
    margin-bottom: 43px;
}

.get-a-quote__layout {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-weight: 400;
    text-align: justify;
}

.quote {
    flex: 2 1 66.55%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.form__input {
    margin-bottom: 16px;
    padding: 8.1px 14px 8.1px 14px;
}

.form__textarea {
    margin-bottom: 16px;
    padding: 7px 14px 0 14px;
    height: 202px;
    resize: none;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid gold;
}


.form__btn {
   width: 15%;
   cursor: pointer;
}

.btn-submit:hover {
    -webkit-filter: invert(100%);
    transition: 0.5s;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0008;
}

#message {
    min-width: 300px;
    max-width: 600px;
    max-height: 350px;
    top: 50%;
    height: 50%;
    border: 3px solid #2d303a;
    border-radius: 10px;
    text-align: left;
    background: #ffffff;
    color: black;
    margin: auto;
    padding: 10px;
    margin-top: calc(50vh - 200px);
    word-wrap: break-word;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.hidden {
    display: none;
}

.message-text{
    font-size: 1.7rem;
    max-height: 220px;
    overflow: hidden;

}

#text-name {
    font-size: 2.5rem;
}

#close-btn {
    height: 30px; 
    width: 80px; 
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.contact-info {
    flex: 1 1 33.3%;
    padding: 0 10px 0 10px;
}

input,
textarea,
.btn-submit {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
    color: #f0d8d9;
    background-color: #d6564f;
    border-radius: 5px;
    border: none;
}

::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-family: "Lato", "Verdana", sans-serif;
    font-weight: 400;
}

.contact__link-list {
    list-style: none;
}

.link-list__item {
    margin-bottom: -1.8px;
}

.item-email {
    margin-top: 2px;
}

.item__link {
    text-decoration: none;
    color: #f0d8d9;
    display: inline-flex;
    align-items: center;
}

.item__link:hover {
    filter: sepia(100%);
}

.link-text {
    margin-left: 10px;
}

.icon {
    width: 13px;
    padding-left: 0;
}

.icon-map {
    display: block;
    height: 11px;
    background: url("./assets/quote/location.png") center no-repeat;
}

.icon-phone {
    display: block;
    height: 11px;
    background: url("./assets/quote/phone.png") center no-repeat;
}

.icon-email {
    display: block;
    height: 8px;
    background: url("./assets/quote/mail.png") center no-repeat;
}

.text-map {
    letter-spacing: -0.015rem;
}

.text-tel {
    margin-top: 1px;
    margin-bottom: -2px;
    letter-spacing: -0.015rem;
}

/* Footer */

.footer {
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 40px;
}

.footer__copyright {
    padding: 26px 0 0 2px;
}

.copyright {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #666d89;
    font-weight: 400;
    letter-spacing: -0.025rem;
}


